* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit',sans-serif;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.container img {
    width: 290px;
    padding: 15px;
    border-radius: 25px;
}

.container h3 {
    padding-bottom: 18px;
    text-align: center;
    font-size: 21px;
}

.container p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;
}